* { box-sizing: border-box; }

body {
  font-family: sans-serif;
  text-align: center;
}

.scene {
  /* border: 1px solid #88C; */
  position: relative;
  width: 224px;
  height: 416px;
  margin: 16px auto;
  perspective: 1000px;
  
}

.carousel {
  width: 100%;
  height: 100%;
  position: absolute;
  transform: translateZ(-216px);
  transform-style: preserve-3d;
  transition: transform 1s;
}

.carousel__cell {
  position: absolute;
  width: 192px;
  height: 384px;
  left: 16px;
  top: 16px;
  /* border: 2px solid black; */
  /* line-height: 116px;
  font-size: 80px;
  font-weight: bold;
  color: white;
  text-align: center; */
  transition: transform 1s, opacity 1s;
}

.carousel__cell:nth-child(1) { background: url('../assets/png/templates/consultant.png'); }
.carousel__cell:nth-child(2) { background: url('../assets/png/templates/finance.png'); }
.carousel__cell:nth-child(3) { background: url('../assets/png/templates/health.png'); }
.carousel__cell:nth-child(4) { background: url('../assets/png/templates/manager.png'); }
.carousel__cell:nth-child(5) { background: url('../assets/png/templates/teacher.png'); }
.carousel__cell:nth-child(6) { background: url('../assets/png/templates/designer.png'); }

.carousel__cell:nth-child(1) { transform: rotateY(  0deg) translateZ(216px); }
.carousel__cell:nth-child(2) { transform: rotateY( 60deg) translateZ(216px); }
.carousel__cell:nth-child(3) { transform: rotateY( 120deg) translateZ(216px); }
.carousel__cell:nth-child(4) { transform: rotateY(180deg) translateZ(216px); }
.carousel__cell:nth-child(5) { transform: rotateY(240deg) translateZ(216px); }
.carousel__cell:nth-child(6) { transform: rotateY(300deg) translateZ(216px); }

.carousel-options {
  text-align: center;
  position: relative;
  z-index: 2;
  background: hsla(0, 0%, 100%, 0.8);
}